/* ===============================
        GOOGLE FONT
================================= */


/* ===============================
          CSS RESET
================================= */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ===============================
        ROOT VARIABLES 
================================= */

:root{

}


/* ===============================
        GLOBAL STYLE
================================= */

body{
    
}

/* ===============================
        NAVBAR 
================================= */

.navbar-brand{
        color: #0f172a;
}

.nav-link{
        font-weight: 500;
        transition: 0.3s;
}

.nav-link:hover{
        color: #0d6efd;
}