/* ===============================
        GOOGLE FONT
================================= */


/* ===============================
          CSS RESET
================================= */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ===============================
        ROOT VARIABLES 
================================= */

:root{

}


/* ===============================
        GLOBAL STYLE
================================= */

body{
    
}

/* ===============================
        NAVBAR 
================================= */

.navbar-brand{
        color: #0f172a;
}

.nav-link{
        font-weight: 500;
        transition: 0.3s;
}

.nav-link:hover{
        color: #0d6efd;
}

/* ===============================
        HERO SECTION
================================= */

.hero-section{
        background-color: linear-gradient(
                135deg,
                #f8fbff,
                #ffffff
        );
}

.hero-section h1{
        color: #0f172a;
}

.hero-dashboard{
        background: #ffffff;
        padding: 35px;
        border-radius:25px;
        border:1px solid #e5e7eb;
}